body{
    background-color: rgb(32, 32, 49);
    color: white;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    text-align: center;
    background-color: rgb(59, 59, 130);
    width: 100%;
    margin:0;
    padding: 5px;

}
h2{
    text-decoration:underline;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
}
p{
    font-size: 1.5em;
}
a{
    color: yellow;
}
img{
    width: 100%;
    height: auto;
}
article{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    align-items: center;
    width: 30%;
    margin: 10px;
    padding: 8px;
    box-sizing: border-box;
}
footer{
    background-color: rgb(17, 17, 30);
    margin: 0;
    padding: 0;
    text-align: center;
}

@media (max-width: 900px) {
article {
flex-basis: 90%;
margin: 10px 0px;
}
section {
    flex-direction: column;
    align-items: center;
    }

p {
font-size: 1.2em; 
}
}
